@page "/"

<h1>Blazor File Upload Sample</h1>

<h2>Application to show how to </h2>
<br/>
<p>1. Upload any file</p>
<p>2. Display an image that was uploaded</p>
<p>3. Display a text file that was uploaded</p>
<p>4. Save an uploaded file to the server</p>
